/* __about page__ */
.green-container {
  background-color: #406572;
  height: 22vw;
  display: flex;
  align-content: flex-end;
}

.heading {
  height: fit-content;
  width: 35%;
  font-size: 3.4vw;
  padding: 2vw;
  color: white;
}

.white-container {
  background-color: white;
  height: 9vw;
}
.purple-container {
  background-color: #c5bcd0;
  height: 44vw;
  width: 80%;
  margin: auto;
}

.people-image,
.picture {
  height: 16vw;
  width: 16vw;
  border-radius: 50%;
  margin: auto;
  z-index: 999;
  position: relative;
  bottom: 3vw;
}

.pink-container {
  height: 50vw;
  width: 62%;
  position: relative;
  top: 14vw;
  right: 19vw;
  z-index: 99;
  background-color: #ffe3e4;
  line-height: 2vw;
  max-height: 100vw;
}

.mission-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.mission-box {
  width: 12vw;
  background: #ffffff;
  padding: 2vw;
  box-shadow: 9px 7px 4px rgba(0, 0, 0, 0.25);
  margin: 3vw 1vw;
  text-align: center;
}

.mission-textbox {
  width: 85%;
  background: #ffffff;
  padding: 2vw;
  box-shadow: 9px 7px 4px rgba(0, 0, 0, 0.25);
  margin: 2vw auto;
  text-align: center;
}

.team {
  position: relative;
  top: -1em;
  text-align: center;
  max-height: 1em;
  font-size: 3.5vw;
  padding: 4.92vw;
  background-color: #ffe3e4;
}

.team-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 87%;
  margin: 1vw auto;
}

.member {
  display: flex;
  flex-direction: column;
  width: 18vw;
  height: 35vw;
  text-align: center;
  align-items: center;
  z-index: 999;
}

.member article {
  padding: 5px;
  height: 6vw;
}

.focus {
  top: -6vw;
}

#member1 {
  background: url(./assets/man3.jpg) no-repeat;
  height: 18vw;
  width: 18vw;
  border-radius: 50%;
  background-size: cover;
}

#member2 {
  background: url(./assets/man2.jpg) center no-repeat;
  height: 18vw;
  width: 18vw;
  border-radius: 50%;
  background-size: cover;
}

#member3 {
  background: url(./assets/man1.jpg) center no-repeat;
  height: 18vw;
  width: 18vw;
  border-radius: 50%;
  background-size: cover;
}

.longer {
  height: 45vw;
}

.p-text-about {
  line-height: 2vw;
}

@media only screen and (max-width: 1120px) {
  .green-container {
    flex-direction: column;
  }

  .pink-container {
    position: initial;
    width: 85%;
    margin: auto;
    height: fit-content;
  }

  .mission-box {
    width: 21vw;
    line-height: 3vw;
  }

  .p-text-about {
    font-size: 1.7vw;
    line-height: 3vw;
  }

  .purple-container {
    width: 95%;
    height: 60vw;
  }

  .longer {
    height: 65vw;
  }
}

@media only screen and (max-width: 650px) {
  .mission-container {
    flex-direction: column;
  }

  .mission-box {
    width: 85%;
    height: 15vw;
  }

  .purple-container {
    height: 92vw;
  }

  .team-container {
    width: 100%;
  }

  .member {
    width: 30vw;
  }

  #member1,
  #member2,
  #member3 {
    height: 30vw;
    width: 30vw;
  }

  .longer {
    height: 78vw;
  }
}

@media only screen and (max-width: 550px) {
  .heading {
    font-size: 5vw;
    width: 95%;
  }
  .mission-box {
    height: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .mission-box h2,
  .p-text-about {
    font-size: 3.5vw;
    line-height: 5vw;
  }

  .purple-container {
    height: 165vw;
    width: 100%;
  }

  .pink-container {
    max-height: none;
  }

  .team {
    top: 0;
    font-size: 5.5vw;
  }

  .team-container {
    flex-wrap: wrap;
  }

  .member {
    width: 48vw;
    height: 107vw;
    margin: 1vw;
  }

  #member1,
  #member2,
  #member3 {
    height: 48vw;
    width: 48vw;
  }

  .longer {
    height: 221vw;
  }
}
