.directions-page {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 3vw 3vw 3vw;
}

.map-container {
  display: flex;
  flex-direction: column;
}

.heading {
  background-color: #406572;
  padding: 2vw;
  width: 35vw;
  color: white;
  font-size: 3vw;
  margin: 0px 0 3vw 0;
}

.map {
  margin: 5vw;
}

.iframe-map {
  width: 40vw;
  height: 25vw;
}

.p-text-directions {
  font-size: 1vw;
}

@media only screen and (max-width: 1000px) {
  .p-text-directions {
    font-size: 1.5vw;
  }
}

@media only screen and (max-width: 790px) {
  .p-text-directions {
    font-size: 1.5vw;
  }
  .iframe-map {
    width: 39vw;
    height: 45vw;
  }
}

@media only screen and (max-width: 680px) {
  .directions-page {
    flex-direction: column;
  }

  .heading {
    width: 95%;
    font-size: 2em;
  }

  .description-container {
    width: 95%;
  }

  .list-item {
    height: 35vw;
  }
  .mapouter {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .gmap_canvas {
    margin: auto;
  }

  .iframe-map {
    width: 70vw;
    height: 50vw;
  }

  .p-text-directions {
    font-size: 3.5vw;
  }
}

@media only screen and (max-width: 400px) {
  .p-text-directions {
    font-size: 3.5vw;
  }

  .list-item {
    height: 30vw;
  }

  .iframe-map {
    width: 80vw;
    height: 90vw;
  }
}
