/* __home page__ */
.top-image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #406572;
  color: white;
}
.top-part {
  margin: 0;
  padding: 0;
}

/* banner */

.image {
  background-image: url(./assets/village.jpg);
  height: 28em;
  width: 40em;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 50% 50% 0;
  border-left: none;
  box-shadow: white 0px 0px 2px 1px;
  z-index: 998;
}

.head-greeting {
  margin-left: 2vw;
  font-family: "Raleway", sans-serif;
  max-width: 45%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-text {
  font-size: 2.8em;
  align-self: baseline;
}
.head-greeting h4 {
  text-align: right;
  font-size: 1.2em;
  min-width: 20vw;
  padding: 2vw;
}

.head-greeting .contact-button {
  margin: auto;
}

.info {
  opacity: 0.7;
  background-color: #d8dad94d;
  height: 11vw;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* article boxes */
.article-box a:hover {
  opacity: 0.5;
}

.section-header {
  margin: 4vw 0;
  padding: 0.6em;
  display: block;
  font-size: 2.5em;
  color: white;
  background-color: #406572;
  font-family: "Raleway", sans-serif;
}

.article-top-container {
  background-color: #ffe3e4;
  width: 75%;
  margin: auto;
  border-radius: 0.5%;
  height: fit-content;
  display: flex;
}

.article-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: fit-content;
}

.article-box {
  width: 257.1px;
  height: fit-content;
  background: #ffffff;
  padding: 2vw;
  box-shadow: 9px 7px 4px rgba(0, 0, 0, 0.25);
  margin: 1vw;
  overflow: hidden;
}

.article-head {
  font-size: 2em;
  color: #406572;
  font-family: "Raleway", sans-serif;
  margin: 10px 0;
}

.learn-more {
  text-align: right;
  color: #406572;
}

/* schedule table */

table {
  border: 4px solid #406572;
  max-width: 75%;
  margin: 2vw auto;
  padding: 3vw;
}

table th {
  border-right: 4px solid #ac9fbb;
  background-color: #ac9fbb;
  opacity: 0.7;
  padding: 1em;
}

td {
  padding: 2vw;
  margin-left: 5vw;
}

/* footer sections */
.footer-section {
  height: 24vw;
  margin: 10vw;
  display: flex;
  justify-content: center;
  background-image: url(./assets/road1.jpg);
  background-size: cover;
}

.cta-box {
  background-color: #ac9fbbe3;
  padding: 4vw;
  width: 45vw;
  max-height: 15vw;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto 0;
  font-size: 1.2vw;
}

.cta-box .contact-button {
  margin: 1em auto;
  padding: 1vw;
  cursor: pointer;
  font-size: 1.7em;
  width: 16vw;
  height: 4vw;
  background-color: white;
}

.cta-box .section-header {
  margin: 1vw 0 2vw 0;
  font-size: 3vw;
  padding: 1vw;
  text-shadow: 2px 2px 10px darkslategrey;
}

.cta-box .p-text {
  font-size: 1.7vw;
}

.p-text {
  font-size: large;
}

@media only screen and (max-width: 950px) {
  .p-text {
    font-size: 2.3vw;
  }
}

@media only screen and (max-width: 730px) {
  .footer-section {
    height: 50vw;
    margin: 0;
    background-image: none;
  }

  .cta-box {
    max-height: 42vw;
    width: 70vw;
  }

  .cta-box p {
    font-size: 3.5vw;
  }

  .info {
    height: fit-content;
  }

  .p-text {
    font-size: 2.8vw;
  }
}

@media only screen and (max-width: 570px) {
  .image {
    display: none;
  }

  .top-image-container {
    height: 110vh;
    background: url(./assets/village.jpg) center no-repeat;
  }

  .head-greeting {
    margin: 0;
    max-width: 100%;
  }

  .p-text {
    font-size: 3.5vw;
  }

  .welcome-text {
    text-shadow: black 2px 2px 2px;
    font-size: 17vw;
    margin: 0;
  }

  .head-greeting h4 {
    text-align: center;
    background-color: #ac9fbbe3;
    line-height: 2em;
    margin: 2vw auto;
    color: black;
    padding: 2vw;
  }

  .contact-button {
    width: 40vw;
    height: 14vw;
    font-size: 4.5vw;
  }

  .article-top-container {
    width: 100%;
  }

  table {
    width: 100%;
    max-width: 100%;
  }

  .cta-box {
    max-width: 100%;
    width: 100%;
    max-height: 50vw;
    height: 42vw;
  }

  .cta-box h2 {
    font-size: 5vw;
  }

  .cta-box .contact-button {
    font-size: 3.5vw;
    width: 30vw;
    height: 10vw;
  }

  .cta-box .section-header {
    margin: 0;
    font-size: 5vw;
  }

  .cta-box .p-text {
    font-size: 4.5vw;
  }
}

@media only screen and (max-width: 400px) {
  .p-text {
    font-size: 4.6vw;
  }
}
