/* __global__ */

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
button:hover {
  opacity: 0.9;
}

h2 {
  margin: 0;
  font-size: 2vw;
}

ol {
  padding: 0;
  margin: 0;
}
/* navigation bar */

.nav-bar {
  height: 6vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  z-index: 999;
}
.hidden {
  visibility: hidden;
  position: absolute;
}

.nav-list {
  margin: 2vw auto;
  padding: 0;
}
.nav-list-item {
  display: inline;
  margin: 0 3vw;
  font-size: 1.5em;
}

.footer {
  background-color: #406572;
  opacity: 0.7;
}

.footer .p-text {
  margin: 0 auto;
  text-align: center;
  width: 70%;
  padding: 2vw;
}

/* buttons */
.buttons {
  align-content: center;
  /* position: absolute; */
  top: 90vh;
  right: 3em;
  position: fixed;
  z-index: 9999;
}

.smaller {
  background: #f7f7f7;
  border-radius: 10px;
  height: 3em;
  width: 3em;
  font-size: 1.3em;
  cursor: pointer;
  box-shadow: black 2px 2px 5px;
  border: 0;
}

.bigger {
  background: #ffe3e4;
  border-radius: 10px;
  height: 3em;
  width: 3em;
  font-size: 1.3em;
  cursor: pointer;
  box-shadow: black 2px 2px 5px;
  border: 0;
}

.contact-button {
  width: 14vw;
  height: 4vw;
  border: 0;
  background: #c5bcd0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.list-item {
  background: #ffffff;
  padding: 2vw;
  box-shadow: 9px 7px 4px rgba(0, 0, 0, 0.25);
  margin: 2vw;
  list-style: none;
}

.description-container {
  width: 40%;
  background-color: #ffe3e4;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 970px) {
  .contact-button {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 750px) {
  .nav-list-item {
    font-size: 1.2em;
  }

  .contact-button {
    height: 5vw;
    width: 20vw;
  }
}

@media only screen and (max-width: 650px) {
  .info {
    height: 30vw;
  }

  .nav-bar {
    height: 20vw;
  }

  .contact-button {
    width: 23vw;
    font-size: 2vw;
  }

  .smaller,
  .bigger {
    width: 2em;
    height: 2em;
  }
}

@media only screen and (max-width: 530px) {
  .buttons {
    right: 1em;
  }

  .smaller,
  .bigger {
    width: 10vw;
    height: 10vw;
  }

  .nav-list {
    padding: 0;
    height: 20vw;
    display: flex;
    align-items: center;
    font-size: 4.3vw;
  }

  .nav-list .contact-button {
    display: none;
    position: absolute;
  }

  .hidden {
    visibility: visible;
    position: static;
    color: purple;
    font-weight: bolder;
    text-decoration: overline;
  }

  footer .p-text {
    font-size: 4vw;
  }
}
