/* __global__ */

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
button:hover {
  opacity: 0.9;
}

h2 {
  margin: 0;
}

ol {
  padding: 0;
  margin: 0;
}
/* navigation bar */

.nav-bar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-content: space-between;
  margin: 0;
  z-index: 999;
  /* background-color: #406572; */
}

.nav-list-item {
  display: inline;
  margin: 0 3vw;
  font-size: 1.5em;
}

.footer {
  background-color: #406572;
  opacity: 0.7;
}

.footer p {
  margin: 0 auto;
  text-align: center;
  width: 70%;
  padding: 2vw;
}

/* buttons */
.buttons {
  align-content: center;
  position: absolute;
  top: 90px;
  right: 5.2vw;
}

.smaller {
  background: #f7f7f7;
  border-radius: 10px;
  height: 59px;
  width: 59px;
  font-size: 1.3em;
  cursor: pointer;
  box-shadow: black 2px 2px 5px;
  border: 0;
}

.bigger {
  background: #ffe3e4;
  border-radius: 10px;
  height: 59px;
  width: 59px;
  font-size: 1.3em;
  cursor: pointer;
  box-shadow: black 2px 2px 5px;
  border: 0;
}

.contact-button {
  width: 192px;
  height: 53.5px;
  border: 0;
  background: #c5bcd0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.list-item {
  background: #ffffff;
  padding: 2vw;
  box-shadow: 9px 7px 4px rgba(0, 0, 0, 0.25);
  margin: 2vw;
  list-style: none;
}

.description-container {
  width: 40%;
  background-color: #ffe3e4;
  display: flex;
  align-items: center;
}
